/*** BODY ***/

body{
  font-family: 'Open Sans', sans-serif;
}


/*** SEC1 ***/

.sec1{
  background-color: white;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  color: red;
  display: inline-block;

}

li{
  display: inline-block;
  list-style: none;
  padding: 0px 5px;

}

.logo{
  height: 25px;
  width: 50px;
}


/*** SEC2 ***/

.sec2{
  color: white;
  display: inline-block;
  padding: 25px 400px;
  background: linear-gradient(to right, #D81F68, #E5453B);
}

.shoe1{
  height: 250px;
  width: 500px;
}

/*** SEC3 ***/

.sec3{
  background-color: white;
  padding: 25px 100px;
}


/*** SEC4 ***/

.sec4{
  background: linear-gradient(to right, #D81F68, #E5453B);
  color: white;
  display: inline-block;
}

.shoe2, .shoe3, .shoe4 {
    height: 125px;
    width: 250px;
}

.funnysneakers, .nimblesneakers, .cutesneakers {
  float: left;
  display: inline-block;
  padding: 100px 50px;
}

.sneakertitle{
  float: left;
}

.price {
  float: right;
}

/*** FOOTER ***/

footer{
  padding: 10px 0px;
}
