/*** BODY ***/

body{
  font-family: 'Open Sans', sans-serif;
}


/*** SEC1 ***/

.sec1{
  background-color: white;
  text-align: left;
  text-transform: uppercase;
  font-weight: bold;
  color: red;
  display: inline-block;

}

li{
  display: inline-block;
  list-style: none;
  padding: 0px 5px;

}

.logo{
  height: 25px;
  width: 50px;
}


/*** SEC2 ***/

.sec2{
  background-color: #F95431;
  color: white;
  display: inline-block;
  padding: 25px 400px

}

.shoe1{
  height: 250px;
  width: 500px;
}

/*** SEC3 ***/

.sec3{
  background-color: white;
  padding: 25px 400px;
}


/*** SEC4 ***/

.sec4{
  background-color: #F95431;
  padding: 25px 400px;
  color: white;
}

.shoe2, .shoe3, .shoe4 {
    height: 200px;
    width: 400px;
}


/*** FOOTER ***/

footer{
  padding: 10px 0px;
}
